/*This is for the weather site and screened devices*/

/*Sansita Font*/
@import url('https://fonts.googleapis.com/css?family=Sansita');

* {
    box-sizing: border-box; /* changes width property
    to total width instead of content width */
}
*:before, *:after{
    box-sizing: border-box;
}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
    display: block; /* just in case we have
    any older browsers that don't recognize
    the HTML5 semantic elements */
}

body {
    margin: 0; /* remove any margin from body */
    padding: 0; /* ditto for padding */
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Sansita, "helvetica", generic-family; /*font-family for all headers */
    font-size: 20px;
}

footer{
    margin-bottom: 2em;
}

#siteName {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#logo {
    width: 40px;
}

#site-brand {
    overflow: auto;
    font-size: 1.6em;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
}
nav {
    line-height: 0.2em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

nav ul li a:link {
    color: #FFF;
    text-decoration: none;
}

header, footer, nav {
    background-color: #0e89d5;
}

nav ul {
    padding-left:0; /*removing left padding*/
    display: flex; /*putting nav in one line*/
    flex-direction: row;
    flex-wrap: nowrap;
}

nav ul li {

    list-style:none; /*removing dots from list*/
    padding-right: 10px;
    font-size: 0.8em;
}

#locationInfo ul li {
    list-style:none;
    border-left: 1px solid black; /*adding vertical line to the left*/
    padding-right: 10px;
    padding-left: 2px;
    font-size: 0.55em;
}

#locationInfo ul li:nth-child(1) {
    border: none; /*removing vertical line from the first element of the list*/ }

#locationInfo ul {
    padding-left: 0; /*removing standard left padding from the list*/
    display: flex; /*putting nav in one line*/
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    margin-top: 0;
    font-weight: 600; /*make the heading bold*/
    font-size: 2.5em;
    margin-bottom: 0;
}

#smallConditions, #video {
    border: 1px solid black; /*adding border*/
    border-radius: 15px; /*making border of the right form*/
    text-align: center; /*align text to the center*/
}

#smallConditions ul {
    list-style: none;
}

#smallConditions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    background-color: rgba(200,200,200,.6); /*adding background to the boxes*/
    overflow: auto;
}

#temps {
    width: 48%;

}

#temp li {
    font-size: 1.5em;
}

#temp li:first-child{
    font-size: 3em; /*changing font size of the first element*/
}

#temp li:nth-child(2), #temp li:nth-child(3) {
    display: inline-block; /*putting 2 elements of the list in one line*/
    font-size: 1em;
    margin-bottom: 10px;
}

#temp li:nth-child(2) {
    color: red; /*changing color of the element*/
    margin-right: 15px;
}

#temp li:nth-child(3) {
    color: blue;
}

#temp li:last-child {
    font-size: 1em; /*changing size of the last element in the list*/
}

#wind {
    width: 48%;
}

#wind ul {
    padding-left: 0;
}

#circle img {
    width: 60%;
}

.nw {
    transform: rotate(315deg);
}

#mph {
    margin-top: -70px;
    margin-bottom: 50px;
}

#direction, #gusts {
    font-size: 0.6em;
}


#curWeather {
    border: 2px solid black;
    padding: 10px;
    background-image: url("../images/sunny-winter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#curWeather h2 {
    display: none;
}

#hourly h3 {
    display: none;
}

#hourly ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    align-items: center;
    list-style: none;
    padding: .15em;
    margin: .25em;
    height: 40px;
    border: 2px solid black;
    border-radius: 15px;
}

#hourly ul li {
    border-right: 1px solid black;
    padding-right: 10px;
}

#hourly ul li {

}

#video {
    background-color: rgba(200,200,200,.6); /*putting image on the background of the block*/
}

#video img {
    width: 50%;
    margin-top: 5px;
}

nav a:link {
    text-decoration: none; /*removing underlines from links*/
}

#panel {
    list-style: none;
    padding: 0;
    margin: 5px;
}

#panel li {
    display: inline-block;
}

#compas {
    width: 30px;
}

#loop {
    width: 38px;
}

#last {
    font-size: 1.5em;
}

#panel-bar {
    border: 1px solid black; /*adding border to the navigation bar*/
    display: none;
}

#arrow {
    display: none;
}

/* ******************** Large Screen ******************** */

@media screen and (min-width: 750px) {
/*Center the content on the screen*/

    body>div {
        max-width: 1100px;
        margin: 0 auto;
}

    nav {
        position: relative;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    nav ul {
        justify-content: space-around;
    }

    #locationInfo {
        margin: 10px 0;
    }

    #locationInfo ul li {
        font-size: 0.7em;
    }

    #smallConditions {
        border: none;
        border-radius: 0px;
        background: none;
        flex: 2 0 0;
        justify-content: space-around;
        margin-bottom: 0;
        margin-right: 4px;
    }

    #curWeather {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        padding: 1em 0;
    }

    #temps, #wind {
        border: 1px solid black; /*adding border*/
        border-radius: 15px; /*making border of the right form*/
        background-color: rgba(200,200,200,.6); /*adding background to the boxes*/
    }

    #video {
        flex: 1 0 0;
        margin-right: 6px;
    }

    #curWeather h2 {
        display: block;
    }

    #hourly {
        border: 2px solid black;
        border-radius: 15px;
        margin: 2% 0 0 0;
    }

    #hourly h3 {
        display: block;
    }

    #hourly ul {
        border: none;
        border-radius: 0px;
    }

    #temp {
        padding-left: 0;
}
    #temp li:first-child {
        font-size: 4.2em;
        padding-bottom: 10%;
    }

    #hourly h3 {
        font-size: 1.5em;
        margin: 0;
    }

    #arrow {
        display: block;
        font-weight: bold;
        font-size: 2em;
    }

    #arrowPosition {
        display: flex;
        justify-content: space-between;
        padding-right: 10px;
    }

}







