/*This is for the weather site and screened devices*/

/*Sansita Font*/
@import url('https://fonts.googleapis.com/css?family=Sansita');

* {
    box-sizing: border-box; /* changes width property
    to total width instead of content width */
}
*:before, *:after{
    box-sizing: border-box;
}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
    display: block; /* just in case we have
    any older browsers that don't recognize
    the HTML5 semantic elements */
}

body {
    margin: 0; /* remove any margin from body */
    padding: 0; /* ditto for padding */
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Sansita, "helvetica", generic-family; /*font-family for all headers */
    font-size: 20px;
}

footer{
    margin-bottom: 2em;
    display: none; /*not displayed in a small screen*/
}

#logo {
    width: 60px;
    float: left; /*put logo on the same line with site brand */
    overflow: auto;
}

header {
    overflow: auto; /*done to see the elements that are used under "float" */
}

#site-brand {
    overflow: auto;
    font-size: 2em;
    font-weight: normal;
    margin-top: 15px; /*alligning vertically*/
    margin-bottom: 0;
}
nav {
    line-height: 1.6;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

nav ul li a:link {
    color: #FFF;
    text-decoration: none;
}

header, footer, nav {
    background-color: #0e89d5;
}

nav ul {
    padding-left:0; /*removing left padding*/
}

nav ul li {
    display: inline-block; /*putting nav in one line*/
    list-style:none; /*removing dots from list*/
    padding-right: 10px;
}

#locationInfo ul li {
    display: inline-block; /*putting list in one line*/
    list-style:none;
    border-left: 1px solid black; /*adding vertical line to the left*/
    padding-right: 10px;
    padding-left: 2px;
    font-size: 0.6em;
}

#locationInfo ul li:nth-child(1) {
    border: none; /*removing vertical line from the first element of the list*/ }

#locationInfo ul {
    padding-left: 0; /*removing standard left padding from the list*/
}

h1 {
    margin-top: 0;
    font-weight: 600; /*make the heading bold*/
    font-size: 2.5em;
    margin-bottom: 0;
}

#smallConditions, #video {
    border: 1px solid black; /*adding border*/
    border-radius: 15px; /*making border of the right form*/
    text-align: center; /*align text to the center*/
}

#smallConditions ul {
    list-style: none;
}

#smallConditions {
    margin-bottom: 10px;
    background-color: rgba(200,200,200,.6); /*adding background to the boxes*/
    overflow: auto;
}

#temps {
    width: 48%;
    float: left; /*putting boxes in one line*/
}

#temp li {
    font-size: 1.5em;
}

#temp li:first-child{
    font-size: 4em; /*changing font size of the first element*/
}

#temp li:nth-child(2), #temp li:nth-child(3) {
    display: inline-block; /*putting 2 elements of the list in one line*/
    font-size: 1em;
    margin-bottom: 10px;

}

#temp li:nth-child(2) {
    color: red; /*changing color of the element*/
    margin-right: 15px;
}

#temp li:nth-child(3) {
    color: blue;
}

#temp li:last-child {
    font-size: 1em; /*changing size of the last element in the list*/
}

#wind {
    overflow: auto;
}

#wind ul {
    padding-left: 0;
}

/*making circle*/
#circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
}

#direction, #gusts {
    font-size: 0.6em;
}

#mph {
    position: absolute;
    right: 4.2em;
    top: 14em;
}

#curWeather {
    border: 2px solid black;
    padding: 10px;
    background-image: url("../images/sunny-winter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#curWeather h2 {
    display: none;
}

#hourly {
    display: none;
}

#video {
    background-color: rgba(200,200,200,.6); /*putting image on the background of the block*/
}

#video img {
    width: 80%;
    margin-top: 5px;
}

nav a:link {
    text-decoration: none; /*removing underlines from links*/
}

#panel {
    list-style: none;
    padding: 0;
    margin: 5px;
}

#panel li {
    display: inline-block;
}

#compas {
    width: 30px;
}

#loop {
    width: 38px;
}

#last {
    font-size: 1.5em;
}

#panel-bar {
    border: 1px solid black; /*adding border to the navigation bar*/
    display: none;
}






